ID=username
SSH_PORT=22
HOST=yourhost.tld
#this is a random example tunnel it will forward 2233 on the remote host to 22 locally, this will expose ssh, dont do this unless thats the idea.
PORTS="-R 2233:localhost:22" 
#this is where the docker file will put the autossh key
KEY_FILE="/autossh/keys/autosshkey"
